.editor {
	width: 600px;
	height: 90vh;
	background-color: black;
	border-radius: 10px;
	margin-right: 5px;
}

textarea {
	border: none;
	background-color: black;
	resize: none;
	outline: none;
	font-family: "Comfortaa";
	font-size: 30px;
	color: white;
	width: 90%;
	height: 90%;
	padding: 20px;
	margin: 3px;
}
