.preview {
	background-color: rgb(241, 241, 241);
	grid-column: 2;
	width: 40vw;
	border-radius: 10px;
	height: 87vh;
	padding: 20px;
}

.previewText {
	width: 100%;
	word-wrap: break-word;
	height: 100%;
	overflow-y: scroll;
}

.previewText h1 {
	color: rgb(226, 68, 68);
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(226, 68, 68);
}
.previewText h2 {
	color: rgb(233, 141, 141);
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(233, 141, 141);
}

.previewText h3 {
	color: rgb(224, 178, 178);
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(224, 178, 178);
}

.previewText ul {
	color: rgb(39, 62, 163);
}

.previewText a {
	color: rgb(49, 167, 45);
	text-decoration: none;
	font-weight: bold;
}
.preview blockquote {
	background-color: rgb(231, 229, 229);
	border-radius: 10px;
	padding: 1em;
}

@media (max-width: 800px) {
	.preview {
		width: 80vw;
		height: 40vh;
	}
}
