@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
body {
	font-family: "Comfortaa";
	background-color: blueviolet;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}
::-webkit-scrollbar {
	display: none;
}
